{% extends "base.html" %}

{% block title %}Client Management{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/clientManagement.css') }}">
{% endblock %}

{% block content %}
<h2>Client Management Page</h2>
<div class="client-management-buttons">
    <div class="client-upload-section">
        <label for="clients-upload-btn">Upload Clients:</label>
        <button type="button" id="clients-upload-btn">Upload</button>
    </div>
    <div class="client-delete-section">
        <label for="clients-delete-btn">Delete Clients:</label>
        <button type="button" id="clients-delete-btn">Delete</button>
    </div>
</div>
<section class="clients-search">
    <h3>Search for Clients</h3>
    <form id="search-clients-form">
        <input type="text" id="rcif-client-search" name="rcif-client-search" placeholder="Search by Unique ID">
        <div class="clients-search-buttons">
            <button type="button" id="filter-btn">Filter</button>
            <button type="button" id="clear-filters-btn">Clear filters</button>
            <button type="submit">Search</button>
        </div>
        <div class="download-button">
            <button type="button" id="download-btn" disabled>Download Excel</button>
        </div>
    </form>
    <table id="clients-data-table">
        <thead>
            <tr>
                <th>#</th>
                <th>RCIF</th>
                <th>CCIF</th>
                <th>Unique ID</th>
                <th>Promocode</th>
                <th>Uploaded on</th>
                <th>Uploaded by</th>
                <th>Transactions executed</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be populated here -->
        </tbody>
    </table>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/libs/xlsx/dist/xlsx.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/clientManagement.js') }}"></script>
{% endblock %}
