{% extends "base.html" %}

{% block title %}Upload Results{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/clientUploadResults.css') }}">
{% endblock %}

{% block content %}
<h2>Upload Results</h2>
<div id="results-message" class="message-label"></div>
<div class="results-body">
    <div id="row-count"></div>
    <div id="conflict-cases"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/clientUploadResults.js') }}"></script>
{% endblock %}
